NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_ADSENSE_ID=ca-pub-XXXXXXXXXX
NEXT_PUBLIC_SITE_URL=https://1099desk.com
NEXT_PUBLIC_COOKIEYES_ID=XXXXXXXXXX
NEXT_PUBLIC_CONVERTKIT_FORM_ID=XXXXXXXXXX
NEXT_PUBLIC_TAX_YEAR=2026
NEXT_PUBLIC_LAST_UPDATED=January 2026
